aiofiles
aiohttp
beautifulsoup4
gitpython
heroku3
httpx
pillow
psutil
pymongo
py-tgcalls
pytgcrypto
kurigram
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
uvloop==0.21.0; sys_platform != "win32"
yt-dlp
py-yt-search
